<!DOCTYPE html>
<html lang="en" dir="ltr">

{% load static %}

{% include "head_common.html" %}

<body>

    <br><br>

    <div class="main_container">

        <h1><b>Logged out</b></h1>

       <br>

        <h3><b>Hope to see you soon again...</b></h3>
        <br>
        <p>Redirecting to home in 3 seconds...</p>
        <br>
        <a href="{% url 'login'%}">Click here to login again.</a>

        <meta http-equiv="refresh" content="3;url={% url 'index' %}" />

    </div>

</body>

</html>