{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div class="main_container">

    <h1><b>Build Training</b></h1>

    <br>

    <form method="post"
          id="BuildTrainingForm"
          enctype="multipart/form-data">

        {% csrf_token %}

        <fieldset class="Basic Information formFieldset">
            <legend>Training Information</legend>
            {{ form }}
        </fieldset>

        <br>

        <button type="submit">Build Training</button>
    </form>

    <br><br>

    <fieldset class="Training Jobs Status formFieldset">
        <legend>Training Jobs Status</legend>
        <button onclick="run_all_jobs()">Run All</button>
        <br><br>
        <table class="table table-striped" id="id_training_jobs_table">
            <thead>
            <tr>
                <th>#</th>
                <th>Training ID</th>
                <th>Queue</th>
                <th>Job ID</th>
                <th>Job Creation</th>
                <th>Job Start</th>
                <th>Job Completion</th>
                <th>Job Status</th>
                <th>Cancel</th>
            </tr>
            </thead>
            <tbody>
            {% for training_id, queue_name, job_id, job_creation, job_start, job_completion, job_status in training_jobs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ training_id }}</td>
                <td>{{ queue_name }}</td>
                <td>{{ job_id }}</td>
                <td>{{ job_creation }}</td>
                <td>{{ job_start }}</td>
                <td>{{ job_completion }}</td>
                <td>{{ job_status }}</td>
                <td><button onclick="stop_build_training_job('{{ queue_name }}', '{{ job_id }}')">Cancel</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>

</div>

<script>
    $("#id_training_id").after("<br /><br />");
    $("#id_trainer_path").after("<br /><br />");
    for(var k=1; k<=12; k++) {
        if (k == 12) {
            $("#id_trainee_"+k+"_path").after("<br /><br /><legend>Advanced Settings</legend>");
        }
        else {
            $("#id_trainee_"+k+"_path").after("<br />");
        }
    }
    $("#id_media_resolution").after("<br />");
    $("#id_trainee_video_duration").after("<br />");
    $("#id_trainee_smoothing_factor").after("<br />");
    $("#id_trainee_speed_dir_window").after("<br />");
    $("#id_trainee_skip_start").after("<br />");
    $("#id_trainee_time_hours_offset").after("<br />");
    $("#id_trainer_time_sec_offset_video").after("<br />");
    $("#id_trainer_time_sec_offset_audio").after("<br />");
    $("#id_trainee_intpoints_len").after("<br />");
    $("#id_trainee_intpoints_thr").after("<br />");

    function stop_build_training_job(queue_name, job_id) {
        $.ajax({
            url: "{% url 'ajax_stop_build_training_job' %}",
            data: { queue_name: queue_name,
                    job_id: job_id },
            success: function() { location.reload(); }
        });
    }

    function run_all_jobs() {
        $.ajax({
            url: "{% url 'ajax_run_all_jobs' %}",
            data: {},
            success: function() { location.reload(); }
        });
    }
</script>

{% endblock %}