{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div class="main_container">

    <h1><b>Build Training</b></h1>

    <br>

    <form method="post"
          id="BuildTrainingForm"
          enctype="multipart/form-data">

        {% csrf_token %}

        <fieldset class="Basic Information formFieldset">
            <legend>Training Information</legend>
            {{ form }}
        </fieldset>

        <br>

        <button type="submit">Build Training</button>
    </form>

    <br><br>

    <fieldset class="Training Jobs Status formFieldset">
        <legend>Training Jobs Status</legend>
        <button onClick="window.location.reload();">Refresh</button>
        <br><br>
        <table class="table table-striped" id="id_training_jobs_table">
            <thead>
            <tr>
                <th>#</th>
                <th>Training ID</th>
                <th>Job Creation</th>
                <th>Job Completion</th>
                <th>Job Status</th>
                <th>Stop</th>
                <th>Clean</th>
            </tr>
            </thead>
            <tbody>
            {% for training_id, training_job_creation, training_job_completion, training_job_status in training_jobs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ training_id }}</td>
                <td>{{ training_job_creation }}</td>
                <td>{{ training_job_completion }}</td>
                <td>{{ training_job_status }}</td>
                <td><button onclick="stop_clean_training_job('{{ training_id }}', 'stop')">Stop</button></td>
                <td><button onclick="stop_clean_training_job('{{ training_id }}', 'clean')">Clean</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>

</div>

<script>
    $("#id_training_id").after("<br /><br />");
    $("#id_trainer_path").after("<br /><br />");
    for(var k=1; k<=12; k++) {
        $("#id_trainee_"+k+"_path").after("<br />");
    }

    function stop_clean_training_job(training_id, mode) {
        $.ajax({
            url: "{% url 'ajax_stop_clean_training_job' %}",
            data: { training_id: training_id,
                    mode: mode },
            success: function() { location.reload(); }
        });
    }
</script>

{% endblock %}