{% load static %}
<div class="homepage_container" id="homepage_contact">
    <div class="homepage_header">
        <h2>Contact us</h2>
        <h4>Use the message box below, or just email us to : info@sea-analytics.com</h4>
    </div>
    <div class="container-fluid bg-grey homepage">

        <div class="row" id="homepage_contact_row">
            <div class="col-sm-5 boat-image">
                <img src="{% static 'images/boats.jpg' %}" alt="">
            </div>
            <div class="col-sm-7 contact_block">
                <div class="col-sm-5 contact_address">
                    <p>Contact us, and we'll get back to you within 24 hours.</p>
                    <br>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Tel-Aviv, Israel</p>
                    <p><span class="glyphicon glyphicon-phone"></span> +972-54-758-5351</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> info@sea-analytics.com</p>
                    <br>
                    <p><a href="https://www.sea-analytics.com/privacy-policy" target="_blank">Privacy Policy</a></p>
                </div>
                <div class="col-sm-7">
                    <form method="post" action="{% url 'contact_us' %}" id="contact_us_form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="id_contact_name" name="from_name" placeholder="Name"
                                       type="text" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="id_contact_email" name="from_email" placeholder="Email"
                                       type="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <textarea class="form-control" id="id_contact_comments" name="from_message"
                                          placeholder="Comment" rows="5"></textarea>
                                <br/>
                                <button class="btn btn-default pull-right" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div> <!-- homepage_contact_container -->
