<div class="homepage_container" id="homepage_vision">
    <br>
    <h2>About</h2>
    <br>
    <h4>Sea Analytics is an innovative athlete performance and tracking platform that is specifically designed for outdoor sports with a focus on sailing and surfing.</h4>

    <div class="container-fluid bg-grey">
        <div class="homepage_paragraph_container">
            <p>Utilizing proprietary algorithms for video and sensor analytics from any device, it presents unparalleled technical and tactical insights for both athletes and coaches.<br>
               From club to Olympic level and beyond, Sea Analytics helps you manage your performance improvement.</p>
        </div>
    </div> <!-- container-fluid -->
</div> <!-- homepage_contact_container -->