{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div class="main_container">

    <h1><b>Kinetix-AI</b></h1>

    <br>

    <h3><b>Welcome to the Kinetix-AI</b></h3>
    <br>
    <h4><b>Hi {{request.user}}!</b></h4>

    <script type = "text/javascript">
        var days = 730; // days until cookie expires = 2 years.
        var lastvisit=new Object();
        var firstvisitmsg="This is your first visit, Welcome!";
        lastvisit.subsequentvisitmsg="Welcome Back!, Your last visit was at: <b>[displaydate]</b>";

        lastvisit.getCookie=function(Name){
            var re=new RegExp(Name+"=[^;]+", "i");
            if (document.cookie.match(re))
                return document.cookie.match(re)[0].split("=")[1];
            return'';
        }

        lastvisit.setCookie=function(name, value, days){
            var expireDate = new Date();

            var expstring=expireDate.setDate(expireDate.getDate()+parseInt(days));
            document.cookie = name+"="+value+"; expires="+expireDate.toGMTString()+"; path=/";
        }

        lastvisit.showmessage = function() {
            var dispDate = "";
            var wh = new Date();
            if (lastvisit.getCookie("visitc") == "") {
                lastvisit.setCookie("visitc", wh, days);
                document.write(firstvisitmsg);
            }

            else {
                var lv = lastvisit.getCookie("visitc");
                var lvp = Date.parse(lv);
                var now = new Date();
                now.setTime(lvp);
                var day = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
                var month = new Array ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
                var dd = now.getDate();
                var dy = now.getDay();
                dy = day[dy];
                var mn = now.getMonth();
                mn = month[mn];
                yy = now.getFullYear();
                var hh = now.getHours();
                var ampm = "AM";
                if (hh >= 12) {ampm = "PM"}
                if (hh >12){hh = hh - 12};
                if (hh == 0) {hh = 12}
                if (hh < 10) {hh = "0" + hh};
                var mins = now.getMinutes();
                if (mins < 10) {mins = "0"+ mins}
                    var secs = now.getSeconds();
                if (secs < 10) {secs = "0" + secs}
                    dispDate = dy + ", " + mn + " " + dd + ", " + yy + ", at time " +  hh + ":" + mins + ":" + secs + " " + ampm
                document.write(lastvisit.subsequentvisitmsg.replace("\[displaydate\]", dispDate))
            }

            lastvisit.setCookie("visitc", wh, days);
        }

        lastvisit.showmessage();

        window.onload = function() {
            //when the document is finished loading, replace everything
            //between the <a ...> </a> tags with the value of splitText
            document.getElementById("myLink").innerHTML=dispDate;
        }

    </script>
    <br>

    <p>We are super excited to start this journey with you!</p>

    <hr>
    <br>
    <h3><b>System Notifications</b></h3>
    <ul>
        <br>
        <li><b>System Version</b>: 0.2</li>
        <br>
        {% if user.is_staff %}
            <li>Overall <strong><i>Users</i></strong> registered: {{ num_users }}</li>
            <li>Visitors Counters: {{ num_visits }}</li>
            <br>
        {% endif %}
        {% if user.profile.get_type == 'Athlete' %}
            <li>Overall <strong><i>Trainings</i></strong> registered: {{ num_Trainings }}</li>
            <br>
        {% endif %}
    </ul>

</div>

{% endblock %}