{% load static %}
{% load sea_analytics_tags %}

<nav class="left-bar">
    <div class="d-flex flex-column">
        <div class="navbar-header">
            <a id="navbar-brand" href="{% url 'index'%}">
                <img src="{% static 'images/logo.png' %}" alt="SeaAnalytics"/>
            </a>
            <div class="webapp_text">{% get_app_name %}</div>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-mid d-flex flex-column">
            {% with prefix=request.user.groups.all.0.name %}
            {% if prefix == 'Verified_Trainer' or prefix == 'Verified_Trainee' or user.is_staff %}
            <li><a href="{% url 'trainings' %}">List Trainings</a></li>
            {% endif %}
            {% endwith %}
            {% if user.is_staff or user.profile.type == 2 %}
            <li><a href="{% url 'training_create' %}">Add Training</a></li>
            <li><a href="{% url 'training_build' %}">Build Training</a></li>
            {% endif %}
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-mid d-flex flex-column">
            <li><a href="{% url 'login'%}?next={{request.path}}">Sign-In</a></li>
            <li><a href="{% url 'signup'%}?next={{request.path}}">Sign-Up</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-mid d-flex flex-column">
            <li><a href="{% url 'download' %}">Download</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
        {% endif %}
    </div>
</nav>

