.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.left-bar {
    background-color: #d9d9d !important;
    padding-bottom:2em;
    border-bottom: 1px solid silver;
}

.left-bar ul {
    top:15px;
}

.navbar-header {
    background-color: white;
    clear:both;
    padding: 5px 5px 5px 10px;
    text-align: center;
}
.navbar-header img {
    width:99%;
}
.page-content {
    padding: 5em 2em;
}
.sidebar-nav.border-right {
    border-right:1px solid silver;
}

#home-icon {
    position: absolute;
    right:2em;
    top:2em;
}

#home-icon .glyphicon {
    color: black;
    z-index: 999;
    font-size: 2rem;
}

#home-icon .glyphicon:hover {
    color: green;
}

.user-details {
    padding: 0 1em 0 0;
    display: flex;
    align-items: center;
}

.user-details img {
    height: 70px;
    width: 70px;
}

.user-details .left_sidebar_top_user_info {
    margin: auto 1em;
}

.homepage-main-wrapper .sidebar-nav {
    width: 20rem;
    min-width: 150px;
}
