@import url("fonts/ttf/Montserrat.css");
@import url("layout.css");
@import url("dynamic.css");

@-ms-viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #ffffff;
    /* background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png"); */
}

legend {
    color: #7a4900;
}

label {
    margin-top: 5px;
}

select {
    width: 250px;
    text-overflow: ellipsis;
}

ul {
    font-family: 'Montserrat', serif;
    list-style-position: inside;
}

p {
    font-family: 'Montserrat', serif;
}

submit {
    background-color: #008CBA;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
    padding: 8px 28px;
}

submit:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 28px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 250px;
}

input[type="submit"],
button {
    background-color: #008CBA;
    border-radius: 5px;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
    padding: 5px 28px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 28px;
}

input[type="button"][value="Select"] {
    background-color: #E6E6E6;
    padding: 0;
    width: 100%;
}

input[type="button"][value="Select"]:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    width: 100%;
}

table {
    border-collapse: collapse;
}

table, td, th {
    text-align: center;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    background-color: #bd8d52;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* ------------------------------------- M A I N ------------------------------------- */

.container-fluid {
    position: relative;
}

.main_container {
    /*position: relative;*/
    padding: 20px;
    height: 100vh;
    font-family: 'Montserrat', serif;
}

.main_window {
    position: relative;
    height: 100%;
}

.table_list_container {
    position: relative;
    left: -35px;
}

/* ------------------------------ T O P - N A V - B A R ------------------------------ */

.navbar {
    margin-bottom: 0;
    color: #ffffff !important;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Montserrat', serif;
}

.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#navbar-brand {
    font-family: 'Montserrat', serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff !important;
}

.navbar-left {
    margin-left: 20px;
    color: #ffffff !important;
}

.navbar-mid,
.navbar-right {
    position: relative;
    top: 25px;
    color: #ffffff !important;
}

.navbar-right {
    margin-right: 20px;
}

.navbar-nav li a:hover, #navbar-brand:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #ffffff !important;
    text-decoration: none;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

/* ---------------------------- L E F T - S I D E - B A R ---------------------------- */

.sidebar-nav {
    min-height: calc(100vh);
    margin-left: -15px;
    padding: 0;
    text-align: center;
    list-style: none;
    background: #d9d9d9;
    /* background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png"); */
    /* position: fixed; */
    overflow-y: hidden;
}

.left_sidebar_top_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.sidebar_profile_img {
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 10%;
}

.download_icon_img {
    width: 90px;
    height: 90px;
    margin-right: 20px;
    border-radius: 10%;
}

.left_sidebar_top_user_info {
    margin: auto auto auto 15px;
}

.left_sidebar_top_user_info_txt {
    font-family: 'Montserrat', serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
}

.left_sidebar_mid_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.left_sidebar_mid_info_txt {
    margin: auto auto auto 15px;
    font-family: 'Montserrat', serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
}

.left_sidebar_bottom_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

.sidebar_trainee_img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 10%;
}

.sidebar_trainer_img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 10%;
}

.left_sidebar_bottom_info_txt {
    margin: auto auto auto 5px;
    padding-right: 15px;
    font-family: 'Montserrat', serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
}

.left_sidebar_bottom_info_circle {
    height: 15px;
    width: 15px;
    min-width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 13px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
}

#id_left_sidebar_bottom_info_circle_1 {
    background-color: DarkRed;
}

#id_left_sidebar_bottom_info_circle_2 {
    background-color: DarkGreen;
}

#id_left_sidebar_bottom_info_circle_3 {
    background-color: DarkBlue;
}

#id_left_sidebar_bottom_info_circle_4 {
    background-color: DarkMagenta;
}

#id_left_sidebar_bottom_info_circle_5 {
    background-color: DarkCyan;
}

#id_left_sidebar_bottom_info_circle_6 {
    background-color: LightGray;
}

#id_left_sidebar_bottom_info_circle_7 {
    background-color: DarkGray;
}

#id_left_sidebar_bottom_info_circle_8 {
    background-color: Red;
}

#id_left_sidebar_bottom_info_circle_9 {
    background-color: Green;
}

#id_left_sidebar_bottom_info_circle_10 {
    background-color: Yellow;
}

#id_left_sidebar_bottom_info_circle_11 {
    background-color: Blue;
}

#id_left_sidebar_bottom_info_circle_12 {
    background-color: Magenta;
}

#id_add_training_button {
    margin-top: 20px;
    width: 200px;
    font-family: 'Montserrat', serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.webapp_text {
    margin-top: 10px;
    font-family: 'Montserrat', serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

/* -------------------------------- H O M E P A G E ---------------------------------- */

.homepage_container {
    background-color: #ffffff;
    text-align: center;
}

.homepage_container h2 {
    margin: 0;
    font-family: 'Montserrat', serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

.homepage_container:target {
    padding-top: 100px;
}

.container-fluid.bg-grey {
    position: relative;
    top: 50px;
}

#homepage_contact_row {
    position: relative;
}

#homepage_download_row {
    margin-bottom: 30px;
}

.homepage_footer {
    width: 100%;
    height: 60px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.homepage_footer p {
    position: relative;
    top: 15px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.homepage_paragraph_container {
    margin: auto;
    width: 50%;
}

#id_contact_name,
#id_contact_email {
    width: 100%;
}

/* ----------------------------------- L O G I N ------------------------------------- */

.homepage_section_container {
    margin-top: 110px;
    margin-left: 20px;
}

#login_table {
    border-spacing: 5px;
    border-collapse: separate;
}

#id_username {
    background-color: #ffffff;
    padding-left: 10px;
}

#id_password,
#id_password1,
#id_password2 {
    background-color: #ffffff;
    margin-bottom: 0;
    padding-left: 10px;
}

/* ----------------------------------- I N D E X ------------------------------------- */

.index_img {
    position: relative;
    float: right;
    width: 99px;
    height: 50px;
    display: block;
    border-radius: 20%;
}

/* --------------------------------- P R O F I L E ----------------------------------- */

.edit_profile_img {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 10%;
}

/* -------------------------------- T R A I N I N G ---------------------------------- */

.training_header_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.training_header {
    margin-bottom: 15px;
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

.training_header_text {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    margin-left: 20px;
}

.training_subheader_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 15px;
}

.training_subheader {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 20px;
    font-family: 'Montserrat', serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 10px;
}

.training_map_img {
    width: 400px;
    display: block;
}

.icon_sail_enter_training {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
}

.icon_sail_clear_training {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
}

.training_points_table {
    position: relative;
    width: 400px;
    margin-top: 300px;
    padding-right: 50px;
    display: none;
}

.margin_input {
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

.media_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 20px;
    grid-template-areas:
      "video map"
      "sliders sliders";
}

.training_filter_buttons {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#id_training_button_clear,
#id_training_button_delete {
    margin-left: 10px;
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
    padding: 5px 28px;
}

#id_training_button_clear:hover,
#id_training_button_delete:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 28px;
}

#id_training_form_trainee_sel,
#id_training_form_vessel_sel {
    margin-right: 10px;
}

#id_trainee_1_path,
#id_trainee_2_path,
#id_trainee_3_path,
#id_trainee_4_path,
#id_trainee_5_path,
#id_trainee_6_path,
#id_trainee_7_path,
#id_trainee_8_path,
#id_trainee_9_path,
#id_trainee_10_path,
#id_trainee_11_path,
#id_trainee_12_path {
    margin-left: 20px;
    width: 600px;
}

label[for=id_trainee_1_path],
label[for=id_trainee_2_path],
label[for=id_trainee_3_path],
label[for=id_trainee_4_path],
label[for=id_trainee_5_path],
label[for=id_trainee_6_path],
label[for=id_trainee_7_path],
label[for=id_trainee_8_path],
label[for=id_trainee_9_path],
label[for=id_trainee_10_path],
label[for=id_trainee_11_path],
label[for=id_trainee_12_path] {
    padding-bottom: 10px;
    width: 130px;
}

#id_media_resolution {
    margin-left: 152px;
    width: 470px;
    height: 23px;
}

#id_trainee_video_duration {
    margin-left: 110px;
    width: 470px;
    height: 23px;
}

#id_trainee_smoothing_factor {
    margin-left: 89px;
    width: 470px;
    height: 23px;
}

#id_trainee_speed_dir_window {
    margin-left: 36px;
    width: 470px;
    height: 23px;
}

#id_trainee_skip_start {
    margin-left: 151px;
    width: 470px;
    height: 23px;
}

#id_trainee_time_hours_offset {
    margin-left: 81px;
    width: 470px;
    height: 23px;
}

#id_trainer_time_sec_offset_video {
    margin-left: 60px;
    width: 470px;
    height: 23px;
}

#id_trainer_time_sec_offset_audio {
    margin-left: 60px;
    width: 470px;
    height: 23px;
}

#id_trainee_intpoints_len {
    margin-left: 39px;
    width: 470px;
    height: 23px;
}

#id_trainee_intpoints_thr {
    margin-left: 16px;
    width: 470px;
    height: 23px;
}

#id_distloss_n_segments {
    margin-left: 101px;
    width: 470px;
    height: 23px;
}

#id_distloss_n_buffers {
    margin-left: 129px;
    width: 470px;
    height: 23px;
}

#id_distloss_tack_width_min {
    margin-left: 59px;
    width: 470px;
    height: 23px;
}

#id_distloss_tack_width_max {
    margin-left: 56px;
    width: 470px;
    height: 23px;
}

#id_email_notification_en {
    margin-top: 5px;
    margin-left: 11px;
    width: 170px;
    height: 18px;
}

#id_trainer_path {
    margin-left: 56px;
    width: 600px;
}

#id_training_id_filtered {
    margin-left: 65px;
    width: 300px;
}

#id_training_id_all {
    margin-left: 65px;
    width: 300px;
}

#id_training_id_sel {
    margin-left: 35px;
    width: 300px;
}

label[for=id_training_id_all],
#id_training_id_all {
    position: relative;
    top: -20px;
}

#id_training_jobs_table {
    width: 1000px;
}

.server_logging_status {
    max-height: 500px;
    width: 1000px;
    border: 1px solid #ccc;
    overflow: auto;
}

#id_build_training_button,
#id_training_jobs_status,
#id_server_status {
    position: relative;
}

#id_advanced_toggle {
    cursor: pointer;
}

/* ------------------------------------ M I S C -------------------------------------- */

.required {
    margin-top: 5px;
    color: #000099;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.alert {
    padding-top: 50px;
    background-color: #4CAF50;
    color: white;
}

.alert_error {
    padding-top: 50px;
    background-color: #f55442;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* --------------------- C U S T O M - V I D E O - P L A Y E R ----------------------- */

span.zoom-in-span {
    width: 11%;
    background: grey;
    display: inline-block;
    height: 30px;
    cursor: pointer
}


span.zoom-in-span:nth-child(odd) {
    background: silver
}

div#zoom-in-bar {
    margin-top: 20px;
    width: 85%
}

progress#zoom-out-bar {
    width: 83%;
    background: red;
    height: 15px
}

#progress {
    display: none
}

span.marker {
    background: #ec1515;
    color: pink;
    height: 60px;
    width: 1%;
    opacity: 1.0;
    cursor: pointer
}

span.gap {
    background: gray;
    color: pink;
    height: 60px;
    width: 2%
}

span.timeframe {
    position: relative;
    top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

span.timeframe_zoom_out {
    position: relative;
    top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

button {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    outline: 0
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -20px;
    width: 70px;
    height: 90px
}

.left {
    left: 30px;
    box-shadow: none;
}

.left svg {
    margin-left: -10px;
}

.right {
    right: 10px;
    box-shadow: none;
}

.left:focus polyline,
.left:hover polyline {
    stroke-width: 3
}

.left:active polyline {
    stroke-width: 6;
    transition: all .1s ease-in-out
}

.right:focus polyline,
.right:hover polyline {
    stroke-width: 3
}

.right:active polyline {
    stroke-width: 6;
    transition: all .1s ease-in-out
}

polyline {
    transition: all 250ms ease-in-out
}

div.buttons {
    position: relative;
    top: -40%;
    width: 100%;
}

.marker.active_index {
    background: #000;
    width: 3px;
    color: #000;
    height: 14px
}

span.bar.marker.active_index:after {
    content: '\25BC';
    position: relative;
    width: 7px;
    left: -7px;
    top: -20px;
    font-size: 20px !important;
}

div#annotated_bar {
    margin-top: 20px;
    display: flex;
    align-items: stretch
}

div#new_slider {
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
}

div#slider_block {
    display: grid;
    position: relative;
    margin-top: -16px;
}

div#timeframes {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 5px 0 0;
}

div#my_bar {
    /*overflow: hidden;*/
    min-height: 50px;
    display: flex;
}

div#my_outer_bar {
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 0 12px;
}

div#my_inner_bar {
    /*overflow: hidden;*/
    min-height: 50px;
    width: 100%;
    background: linear-gradient(#DDDDDD, #7c7c7c);
}


div#left_control {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div#left_control .glyphicon-minus,
div#left_control .glyphicon-zoom-out,
div#right_control .glyphicon-zoom-in,
div#right_control .glyphicon-plus {
    font-size: 30px;
    color: #808080;
}

div#right_control {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*
div#pointer {
    pointer-events: none;
    display: none;
    position: absolute;
    z-index:2;
    width:20px;
    min-height:50px;
    background: rgba(196, 108, 0, 0.632);
    border: 1px solid  rgb(94, 52, 0);
    border-radius: 4px;
} */


div#pointer {
    display: none;
    position: absolute;
    z-index: 2;
}

#pointer svg {
    padding: 0;
    margin: 0;
}

span.separator {
    padding-right: 1px;
    margin-left: -1px;
    position: relative;
    background: linear-gradient(#DDDDDD, #7c7c7c);
}

span#arrow_right svg {
    fill: #7c7c7c;
    height: 50px;
    margin-top: 2px;
}

span#arrow_left svg {
    transform: rotate(180deg);
    height: 50px;
    margin-top: 2px;
}


span#arrow_left svg path:hover {
    fill: green;
}

span#arrow_right svg path:hover {
    fill: green;
}

div#timer {
    margin-top: -108px;
    /*margin-left: -18px;*/
    position: absolute;
    left: 10px;
    width: 80px;
}

div#pointer:hover {
    cursor: pointer;
}

div#meta {
    background-color: #d4d4d4;
    position: relative;
    height: 50px;
    border-radius: 3px;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

div#speed_val, div#heel, div#direction, div#time, div#distance_loss {
    font-family: Helvetica, Arial, monospace;
    font-size: 2.2rem;
    font-weight: bold;
    color: #585858;
    padding: 0.3rem 1rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#distance_loss_error {
    color: red;
    text-align: center;
    font-size: 2rem;
}

div#meta > .params_bar {
    background: #ebebeb;
}

div#meta > .params_bar:hover {
    background: #d8d8d8;
}

div#distance_loss {
    flex: 1;
    height: 100%;
}
div.distance_loss {
    display: flex;
    align-items: center;
}

div#distance_loss_icon:hover {
    color: green;
}

div#distance_loss_icon {
    margin: 0 1rem;
    font-size: 2.7rem;
    cursor: pointer;
    display: block;
    pointer-events: all;
}

div#distance_loss_modal {
    z-index: 99999;
}

div#distance_loss_modal .modal-title {
    flex: 1
}

div#distance_loss_modal .modal-header {
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img#distance_loss_img {
    width: 100%;
}

div#time {
    flex: 1
}

span#modal_close {
    font-size: 3rem;
}

span.type_1 {
    position: relative;
}

span.type_1:hover {
    cursor: pointer;
    filter: opacity(0.7);
    box-shadow: 0 0 4px 1px white;
}

div.zoom-out-bar {
    margin-top: 20px
}

div#hoverData {
    filter: opacity(1);
    z-index: 9999;
    display: none;
    background: #dedede;
    padding: 20px 30px 20px 20px;
    border-radius: 25px;
    width: min-content;
    min-width: 50%;
    max-width: 90%;
    margin: 20px auto;
}

span#sep {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid white;
    border-bottom: 0;
    top: 25px;
    display: block;
    position: absolute;
}

span#sep_time {
    width: auto;
    top: 10px;
    font-size: 11px;
    display: block;
    position: absolute;
}

div#debug {
    margin: 2em 0 0 0;
    padding: 0 0 3em;
    font-size: 13px;
    width: 95%;
    position: absolute;
}

div.deb_header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid silver;
    flex: 1;
}

div.deb_values {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex: 1;
}

div.deb_header div:first-child,
div.deb_values div:first-child {
    min-width: 35px;
}

div.deb_header div:last-child,
div.deb_values div:last-child {
    min-width: 25px;
}

div.deb_values > div {
    min-width: 12.857%;
}

div.deb_header > div {
    min-width: 12.857%;
    font-weight: bold;
}

div#debug {
    display: none;
}

#additional_overlay_video {
    width: 100%;
    min-width: 200px;
}

.gm-ui-hover-effect {
    display: none !important;
}

.video_container {
    position: relative;
    grid-area: video;
}

.slider_container {
    grid-area: sliders;
}

div#additional_video {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
}

div#additional_video video::-webkit-media-controls-fullscreen-button {
    display: none
}

div:not(:root):fullscreen {
    margin-bottom: 100px !important
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-enter:before {
    content: "\f108"
}

.fullscreen-mode button.arrow.right.next {
    right: 10px;
    left: inherit
}

.fullscreen-mode button.arrow.left.previous {
    left: 30px
}

.fullscreen-mode div.buttons {
    width: 100%;
    display: contents
}

.exitfullscreen-control .vjs-icon-placeholder:before {
    content: "\f109" !important
}

.rangeslider {
    -webkit-appearance: none;
    width: 82.75%;
    height: 25px;
    background: #d3d3d3;
    outline: 0;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s
}

.rangeslider:hover {
    opacity: 1
}

.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    background: #4caf50;
    cursor: pointer
}

.rangeslider::-moz-range-thumb {
    height: 25px;
    background: #4caf50;
    cursor: pointer
}

.zoom-out-bar {
    display: none
}

.zoom-in-progress {
    margin-top: 20px
}

/*
.slider .EE,
.slider .WW {
    display: none
}
*/

#zoom-in-progress {
    display: none
}

#slider-container {
    position: relative;
    top: 12px;
    height: 5px;
    background-color: #eeeef5;
    width: 100%;
    display: inline-block
}

.slider-outer-container {
    display: none;
}

#range-label {
    display: none;
}

.install_textarea {
    background: #fff;
    border: dashed #bc2122 1px;
    height: 30px;
    width: 615px;
}

#id_install_notes_textarea {
    width: 375px;
    height: 30px;
    margin: 10px;
}

#id_install_cmd_private {
    width: 1050px;
    height: 30px;
    margin: 10px;
}

#id_homepage_download_personal {
    text-align: center;
}

#filter_events_block {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

#filter_events_block button:not(:first-child) {
    margin-left: 1rem;
}
