{% extends "base_generic.html" %}

{% load static %}
{% load sea_analytics_tags %}
{% load cache %}

{% block content %}

<div class="main_container">

    <!-- ----------------------------------- H E A D E R ----------------------------------- -->

    <div class="training_header_container">
        <div class="d-flex session_details">
            <div class="training_header">Session Details ({{ object.training_id }})</div>
            <div id="date_formatted" class="training_header_text">{{ object.get_start_time_full_perf }}</div>
            <div class="training_header_text">{{ object.training_location }} ({{ object.training_timezone }})</div>
        </div>
        {% include "top_bar.html" %}
    </div>
    <form action="" id="id_session_details_form">
        {% csrf_token %}
        <div class="training_subheader_container">
            <div class="user-details">
                <a href="{% url 'profile' %}">
                    <img src="{% media_public MEDIA_URL %}{{ user.profile.avatar }}"
                         onerror="this.src='{% static 'images/avatar_def.png' %}'"
                         png class="sidebar_profile_img">
                </a>
                <div class="left_sidebar_top_user_info">
                    <div class="left_sidebar_top_user_info_txt">{{ user.get_username }}</div>
                    <div class="left_sidebar_top_user_info_txt">{% if user.is_staff %}Staff{% else %}{{ user.profile.get_type }}{% endif %}</div>
                </div>
            </div>

            <div class="training_subheader">
                {% if weather_error_msg %}
                <p><strong>Weather ERROR:</strong> {{ weather_error_msg }}</p>
                {% endif %}
                <div class="label_input_group">
                    <label for="id_wind_direction">Wind Direction:</label>
                    <input type="text" id="id_wind_direction" name="wind_direction" value="{{ weather_windDirection }}">
                </div>
                <div class="label_input_group">
                    <label for="id_wind_speed">Wind Speed:</label>
                    <input type="text" id="id_wind_speed" name="wind_speed" value="{{ weather_windSpeed }}">
                </div>
                <div class="label_input_group">
                    <label for="id_wind_gust">Wind Gust:</label>
                    <input type="text" id="id_wind_gust" name="wind_gust" value="{{ weather_gust }}">
                </div>
            </div>

            <div class="training_subheader">
                <div class="label_input_group">
                    <label for="id_wave_height">Wave Height:</label>
                    <input type="text" id="id_wave_height" name="wave_height" value="{{ weather_waveHeight }}">
                </div>
                <div class="label_input_group">
                    <label for="id_wave_direction">Wave Direction:</label>
                    <input type="text" id="id_wave_direction" name="wave_direction" value="{{ weather_waveDirection }}">
                </div>
                <div class="label_input_group">
                    <label for="id_wave_period">Wave Period:</label>
                    <input type="text" id="id_wave_period" name="wave_period" value="{{ weather_wavePeriod }}">
                </div>
            </div>

            <div class="training_subheader">
                <div class="label_input_group">
                    <label for="id_air_temp">Air Temp:</label>
                    <input type="text" id="id_air_temp" name="air_temp" value="{{ weather_airTemperature }}">
                </div>
                <div class="label_input_group">
                    <label for="id_current_speed">Current Speed:</label>
                    <input type="text" id="id_current_speed" name="current_speed" value="{{ weather_currentSpeed }}">
                </div>
                <div class="label_input_group">
                    <label for="id_current_direction">Current Direction:</label>
                    <input type="text" id="id_current_direction" name="current_direction" value="{{ weather_currentDirection }}">
                </div>
            </div>

            <div class="training_subheader">
                <div class="label_input_group">
                    <label for="id_training_duration">Duration:</label>
                    <input type="text" id="id_training_duration" name="training_duration" value="{{ object.training_duration }} mins">
                </div>
                <div class="label_input_group">
                    <label for="id_training_type">Type:</label>
                    <input type="text" id="id_training_type" name="training_type" value="{{ object.get_type_code }}, {{ object.training_vessels_num }} boats">
                </div>
                <div class="label_input_group">
                    <label for="id_training_comments">Comments:</label>
                    <textarea id="id_training_comments" name="training_comments">{{ object.training_comments }}</textarea>
                </div>
            </div>
            {% if modify_en and user == object.originator or modify_en and user in object.originator.profile.trainers.all or modify_en and user.is_staff %}
            <input type="submit" value="Save" id="id_session_submit">
            {% endif %}
        </div>
    </form>

    <div class="media_container">

        <!-- ------------------------------------- M A I N ------------------------------------- -->

        <div class="video_container" id="video_container">
            <div id="main_view_wrapper">
                <video id="video_player" class="video-js vjs-big-play-centered"
                    preload="auto">
                    <source src="{{ media_list.0.6 }}" id="mp4source"/>
                    <p class="vjs-no-js">
                       To view this video please enable JavaScript, and consider upgrading to a web browser that
                       <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div id="alt_view_wrapper">
                <div id="alt_options_opened_view">
                    <span onclick="toggleAltView()" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span onclick="swapContent()" class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                    <span onclick="swapAltViewContent()" class="glyphicon glyphicon-random" aria-hidden="true"></span>
                </div>
                <div id="alt_options_collapsed_view">
                    <span onclick="toggleAltView()" id="video_icon" class="glyphicon glyphicon-facetime-video"></span>
                </div>
                <div id="alt_view">
                    <div id="additional_video"></div>
                </div>
            </div>
            <div class="buttons">
                <button class="arrow left previous">
                    <svg width="30px" height="50px" viewBox="0 0 50 80" xml:space="preserve">
                        <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round"
                                  stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "/>
                    </svg>
                </button>
                <button class="arrow right next">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="50px" viewBox="0 0 50 80" xml:space="preserve">
                        <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round"
                                  stroke-linejoin="round" points="0.375,0.375 45.63,38.087 0.375,75.8 "/>
                    </svg>
                </button>
             </div>
        </div>

        <!-- -------------------------------------- M A P -------------------------------------- -->

        <div id="map_container">
            {% if map_url %}
            <div id="map"></div>
            {% endif %}
        </div>

        <!-- ----------------------------------- S L I D E R ----------------------------------- -->

        <div class="slider_container">
            <div id="meta">
                <div id="speed_val" class="params_bar"></div>
                <div id="direction" class="params_bar"></div>
                <div id="heel" class="params_bar"></div>
                <div id="distance_loss" class="params_bar">
                    <div id="distance_loss_text"></div>
                    <div id="distance_loss_icon" title="Distance Loss Metric"
                         class="glyphicon glyphicon-zoom-in"
                         data-toggle="modal"
                         data-target="#distance_loss_modal">
                    </div>
                </div>
                <div id="time" class="params_bar"></div>
                <!-- Modal -->
                <div class="modal fade" id="distance_loss_modal" tabindex="-1" role="dialog" aria-labelledby="distance_loss_modal_label" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="distance_loss_modal_label">Distance Loss</h5>
                                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" id="modal_close">&times;</span>
                                </a>
                            </div>
                            <div class="modal-body modal-body-xl">
                                <img id="distance_loss_img" src="" alt="" />
                                <div id="distance_loss_error"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="new_slider">
                <div id="timeframes">
                    <div id="my_prepend" class="timeframe"></div>
                    <div id="my_append" class="timeframe"></div>
                </div>
                <div id="slider_block">
                    <div id="left_control">
                        <span id="zoom_out"></span>
                        <span id="arrow_left"></span>
                    </div>
                    <div id="my_outer_bar">
                        <div id="my_inner_bar">
                            <div id="my_bar"></div>
                        </div>
                    </div>
                    <div id="right_control">
                        <span id="arrow_right"></span>
                        <span id="zoom_in"></span>
                    </div>
                </div>
            </div>
            <div id="filter_events_block">
                <button onClick="filterEvents(true)">Show Favorites Only</button>
                <button onClick="filterEvents()">See All</button>
            </div>
            <div id="charts_div_wrapper">
                <div class="d-flex flex-column align-items-stretch charts_div">
                    <div class="chart_row">
                        <div id="chart_div_speed" class="chart_div"></div>
                        <div id="speed_stats"></div>
                    </div>
                    <div class="chart_row">
                        <div id="chart_div_heading" class="chart_div"></div>
                        <div id="heading_stats"></div>
                    </div>
                    <div class="chart_row">
                        <div id="chart_div_heel" class="chart_div"></div>
                        <div id="heel_stats"></div>
                    </div>
                </div>
            </div>
            <div id='hoverData'></div>
            <div id="debug"></div>
        </div>
    </div>

    <!-- ------------------------------------- M I S C ------------------------------------- -->

    {% comment %}

    <br>
    <hr>

    <button onclick="window.location.href = '{{object.id}}/update/'">Update</button>
    <button onclick="window.location.href = '{{object.id}}/delete/'">Delete</button>
    <button onclick="goBack()">Cancel</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    {% endcomment %}

    <!-- ------------------------------------ D E B U G ------------------------------------ -->

    {% if media_list %}

    <div class="training_points_table">

        <br>
        <hr>
        <h3>Debug:</h3>
        <p><strong>Start Time:</strong> {{ object.get_start_time_full }}</p>
        <p><strong>Finish Time:</strong> {{ object.get_finish_time_full }}</p>
        <p><strong>Map:</strong> {{ object.get_map.url }}</p>
        <br>
        <table class="table table-striped" id="id_video_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Owner</th>
                    <th>Track</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Path</th>
                    <th>DistLoss</th>
                    <th>Additional</th>
                    <th>IsMerged</th>
                    <th>Delete/Restore</th>
                    <th>Favor/Unfavor</th>
                </tr>
            </thead>
            <tbody>
                {% for owner, media_short, media_date, media_time, media_start, media_end, media_file, media_distloss, is_merged, is_deleted, is_favored, additional in media_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ owner }}</td>
                    <td>{{ media_short }}</td>
                    <td>{{ media_date }}</td>
                    <td>{{ media_time }}</td>
                    <td>{{ media_start }}</td>
                    <td>{{ media_end }}</td>
                    <td>{{ media_file }}</td>
                    <td>{{ media_distloss }}</td>
                    <td>{{ additional }}</td>
                    <td>{{ is_merged }}</td>
                    {% if is_deleted %}
                        <td><button onclick="unset_media('{{ media_file }}', 'restore')">Restore</button></td>
                    {% else %}
                        <td><button onclick="set_media('{{ media_file }}', 'delete')">Delete</button></td>
                    {% endif %}
                    {% if is_favored %}
                    <td><button onclick="unset_media('{{ media_file }}', 'unfavor')">Unfavor</button></td>
                    {% else %}
                    <td><button onclick="set_media('{{ media_file }}', 'favor')">Favor</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}

</div>

<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
    $(document).ready(() => {
        $('.modal-content').resizable();
        $('.modal-dialog').draggable();
        $( "#distance_loss_icon" ).tooltip({
          track: true
        });
        {% if map_url %}
        const date_text = $('#date_formatted')[0];
        const date_current = new Date(date_text.innerText);
        const options_format = {
            year: 'numeric',
            month: 'long',
            day: '2-digit',
            hour12: false,

            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        }
        date_text.innerText = new Intl.DateTimeFormat('en-US', options_format).format(date_current)
        {% else %}
        $('#date_formatted').text('GPS data is not available')
        {% endif %}
    })

    $(document).on('keypress',function(e) {
        if (e.which == 104) {
            $('.training_points_table').toggle();
            if($('#debug').is(':visible')) {
                $('#debug').toggle();
            }
        }
    });

    $(document).on('keypress',function(e) {
        if (e.which == 100) {
            $('#debug').toggle();
            if($('.training_points_table').is(':visible')) {
                $('.training_points_table').toggle();
            }
        }
    });

    function unset_media(media_file, opmode, reload = true) {
        $.ajax({
            url: "{% url 'ajax_update_media_prop' %}",
            data: { media_file: media_file,
                    mode: opmode },
            success: function() { reload && location.reload(); }
        });
    }

    function set_media(media_file, opmode, reload = true) {
        $.ajax({
            url: "{% url 'ajax_update_media_prop' %}",
            data: { media_file: media_file,
                    mode: opmode },
            success: function() { reload && location.reload(); }
        });
    }

    $("#id_session_details_form").submit(function() {
        event.preventDefault();
        var dataArray = $(this).serializeArray(), dataObj = {};
        $(dataArray).each(function(i, field) {
            dataObj[field.name] = field.value;
        });
        $.ajax({
            url: "{% url 'ajax_training_update_session_details' %}",
            data: { wind_direction: dataObj['wind_direction'] == '{{ weather_windDirection }}' ? 'auto' : dataObj['wind_direction'],
                    wind_speed: dataObj['wind_speed'] == '{{ weather_windSpeed }}' ? 'auto' : dataObj['wind_speed'],
                    wind_gust: dataObj['wind_gust'] == '{{ weather_gust }}' ? 'auto' : dataObj['wind_gust'],
                    wave_height: dataObj['wave_height'] == '{{ weather_waveHeight }}' ? 'auto' : dataObj['wave_height'],
                    wave_direction: dataObj['wave_direction'] == '{{ weather_waveDirection }}' ? 'auto' : dataObj['wave_direction'],
                    wave_period: dataObj['wave_period'] == '{{ weather_wavePeriod }}' ? 'auto' : dataObj['wave_period'],
                    air_temp: dataObj['air_temp'] == '{{ weather_airTemperature }}' ? 'auto' : dataObj['air_temp'],
                    current_speed: dataObj['current_speed'] == '{{ weather_currentSpeed }}' ? 'auto' : dataObj['current_speed'],
                    current_direction: dataObj['current_direction'] == '{{ weather_currentDirection }}' ? 'auto' : dataObj['current_direction'],
                    training_type: dataObj['training_type'] == '{{ object.get_type_code }}, {{ object.training_vessels_num }} boats' ? 'auto' : dataObj['training_type'],
                    training_duration: dataObj['training_duration'],
                    training_comments: dataObj['training_comments'],
                    training_id: '{{object.training_id}}' },
            success: function() { reload && location.reload(); }
        });
    });

    // -------------------------------- G P X - M A P - L O A D E R S --------------------------------

    function loadGPXFileIntoGoogleMap(map, filename) {
        $.ajax({url: filename,
                dataType: "xml",
                cache: true,
                success: function(data) {
                    const parser = new GPXParser(data, map);
                    parser.setTrackColour("#ff0000");       // Set the track line colour
                    parser.setTrackWidth(5);                // Set the track line width
                    parser.setMinTrackPointDelta(0.000001); // Set the minimum distance between track points
                    parser.centerAndZoom(data);
                    parser.addTrackpointsToMap();           // Add the trackpoints
                    parser.addRoutepointsToMap();           // Add the routepoints
                    parser.addWaypointsToMap();             // Add the waypoints
                    setGpxData(parser, parser.getData);
                }
        });
    }

    function initMap() {
        var mapOptions = {
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        {% if map_url %}
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            if ("{{ object.get_map.url }}".startsWith("http")) {
                loadGPXFileIntoGoogleMap(map, "{{ map_url }}");
            }
            else {
                loadGPXFileIntoGoogleMap(map, "{{ map_url }}".replace(/.*media/, '/media'));
            }
        {% else %}
            setGpxData(null, null, true);
        {% endif %}
    }

    var showDistanceLoss = '{{distance_loss_en}}'

    // ---------------------------- C U S T O M - V I D E O - P L A Y E R ----------------------------

    var overall_duration = '{{duration}}';
    var marker_position = '{{zoom_in_position}}:';
    var marker_width = '{{zoom_in_duration}}:';
    var min_zoom_level = '{{zoom_in_minimal}}';
    var gpx_marker_scale = '{{gpx_marker_scale}}';
    var gpx_trainer_mark_scale = '{{gpx_trainer_mark_scale}}';
    var gpx_mark_color1 = '{{gpx_mark_color1}}';
    var gpx_mark_color2 = '{{gpx_mark_color2}}';
    var gpx_mark_color3 = '{{gpx_mark_color3}}';
    var gpx_mark_color4 = '{{gpx_mark_color4}}';
    var gpx_mark_color5 = '{{gpx_mark_color5}}';
    var gpx_route_before = '{{gpx_route_before}}';
    var gpx_route_after = '{{gpx_route_after}}';
    var gpx_route_width = '{{gpx_route_width}}';
    var trainee_sel = '{{trainee_sel}}';
    var train_id = '{{object.training_id}}';
    var start_time = '{{object.get_start_time_full}}';
    var heel_en = "disabled";

    var sources = {
    {% for owner, media_short, media_date, media_time, media_start, media_end, media_file, media_distloss, is_merged, is_deleted, is_favored, additional in media_list %}

        {% if not is_deleted %}

            {% if additional == "NA" %}

                source{{ forloop.counter }}: {
                    name: '{{ media_file }}',
                    distanceLoss: '{{ media_distloss }}',
                    time: '{{ media_time }}',
                    start: '{{ media_start }}',
                    end: '{{ media_end }}',
                    tooltip: '{{ owner }}({% get_trainee_vessel object owner %})',
                    is_favored: '{{ is_favored }}',
                    is_merged: '{{ is_merged }}'
                },

            {% else %}

                source{{ forloop.counter }}: {
                    name: '{{ media_file }}',
                    distanceLoss: '{{ media_distloss }}',
                    time: '{{ media_time }}',
                    start: '{{ media_start }}',
                    end: '{{ media_end }}',
                    tooltip: '{{ owner }}({% get_trainee_vessel object owner %})+{{ object.get_trainer }}(0)',
                    additional: '{{ additional }}',
                    is_favored: '{{ is_favored }}',
                    is_merged: '{{ is_merged }}'
                },

            {% endif %}

        {% endif %}

    {% endfor %}
    };

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&callback=initMap" async defer></script>
<script src="https://vjs.zencdn.net/7.8.2/video.min.js"></script>
<script src="{% static 'js/videojs.zoomrotate.js' %}"></script>

<script src="{% static 'js/svgs.js' %}"></script>
<script src="{% static 'js/helpers.js' %}"></script>
<script src="{% static 'js/nodeSwapManager.js' %}"></script>
<script src="{% static 'js/fullScreenManager.js' %}"></script>
<script src="{% static 'js/videoManager.js' %}"></script>
<script src="{% static 'js/toggleManager.js' %}"></script>
<script src="{% static 'js/trainingDetails.js' %}"></script>
<script src="{% static 'js/eventListeners.js' %}"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'js/chartStats.js' %}"></script>

{% endblock %}

