{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div class="main_container">

    <h1><b>List of all Trainings</b></h1>

    <br>

    <form action="" method="get">
        {{ filter.form.as_p }}
        <div class="training_filter_buttons">
        <button type="submit">Filter</button>
        <input type="button" id="id_training_button_clear" onclick="location.href='{% url 'trainings' %}'" value="Clear">
        </div>
    </form>

    <hr>

    {% if filter.qs %}
    <ul class="table_list_container">
        <table>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Type</th>
                <th>Created</th>
                <th>Started</th>
                <th>Location</th>
                <th>TimeZone</th>
                <th>Duration</th>
                <th>#Vessels</th>
                <th>#Participants</th>
                <th>Select</th>
                <th>Modify</th>
                <th>Appx.</th>
            </tr>

            {% for item in filter.qs %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.training_id }}</td>
                <td>{{ item.get_type_code }}</td>
                <td>{{ item.training_date }}</td>
                {% if item.is_pending %}
                    {% if item.get_audios|length > 0 or item.get_videos|length > 0 %}
                    <td>Yes</td>
                    {% else %}
                    <td>Pending</td>
                    {% endif %}
                {% else %}
                <td>{{ item.get_start_time_full_perf }}</td>
                {% endif %}
                <td>{{ item.training_location }}</td>
                <td>{{ item.training_timezone }}</td>
                {% if item.is_pending %}
                    {% if item.get_audios|length > 0 or item.get_videos|length > 0 %}
                    <td>-</td>
                    {% else %}
                    <td>Pending</td>
                    {% endif %}
                {% else %}
                <td>{{ item.get_total_time }}</td>
                {% endif %}
                <td>{{ item.training_vessels_num }}</td>
                <td>{{ item.get_users.count }}</td>
                <td><a href="{{ item.get_absolute_url }}">
                    <img src="{% static 'images/icon_sail_enter.png' %}" alt="enter_training" class="icon_sail_enter_training"/>
                </a></td>
                <td><a href="{{ item.get_absolute_url_modify }}">
                    <img src="{% static 'images/icon_modify.jpg' %}" alt="modify_training" class="icon_sail_clear_training"/>
                </a></td>
                <td>
                    <span id="dialog_opener"><img src="{% static 'images/icon_appendices.png' %}" alt="appx_training" class="icon_sail_clear_training" id="id_icon_appendices_{{ item.training_id }}"/></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </ul>

    {% else %}

        <p>Database contains no Trainings history</p>

    {% endif %}

</div>
<form method="POST" enctype="multipart/form-data" id="dialog_form">
    {% csrf_token %}
    <div id="dialog_table" title="Training Files">
        <div class="dialog_table__wrapper">
        <table id="dialog_table_tr" class="dialog_table">
            <tr id="dialog_table_header">
                <th>#</th>
                <th>FileName</th>
                <th>Description</th>
            </tr>
        </table>
        </div>
        <h4>Add a new File</h4>
        <div class="d-flex dialog_block">
            <label for="file">File Name:
                <input id="file" type="file" name="file">
            </label>
        </div>
        <div class="d-flex dialog_block">
            <label for="description">Description:
                <textarea id="description" name="description" class="apx_description"></textarea>
            </label>
        </div>
    </div>
</form>

<script>
    $( document ).ready(function() {
      $("#dialog_form").hide();
            $.noConflict(true);
            {% if filter.qs %}
                {% for item in filter.qs %}
                    $("#id_icon_appendices_{{ item.training_id }}").click(function(){
                      const training_appendices = "{{ item.training_appendices }}";
                      const training_appendices_arr = "{{ item.training_appendices }}".split(";");
                      clearDataRows();
                      if (training_appendices === "n/a") {
                        clearWholeTableTr();
                      } else {
                        showWholeTableTr();
                        fillRowWithData(training_appendices_arr)
                      }
                      const dialogData = {
                        trainingId: "{{ item.training_id }}",
                        url: "{% url 'ajax_training_add_appendices' %}"
                      }
                      defineDialog(dialogData);
                      disableSubmitButton();
                      showDialog();
                      validateDialog();
                    });
                {% endfor %}
           {% endif %}
  });
</script>
<script src="{% static 'js/fileUpload.js' %}"></script>
{% endblock %}
